body
{
    background-color:  #474e5d;  /* Dark Blue */  /* #42444e */
    font-family: Lato;
}

h1
{
    padding-left: 7%;
    padding-top: 20px;
    color : lightgreen;
    font-size: 25px;
}


h2
{
    padding-left: 7%;
    padding-top: 20px;
    color : #01DFA5;
    font-size: 20px;
}


p
{
    padding-left: 7%;
    color: white;
    font-size: 20px;
}

#getTickets
{
    padding-left: 5.5%;
}

#countText
{
    font-size: 30px;
    text-align: center;
}



#phrase
{
    font-size: 50px;
}


.conDate
{
    padding-left: 2em;
    font-size: 30%;
    color : #FFEFEB;
}

.underline
{
    
}


.con
{
    font-size: 65%;
    border-bottom: 2px solid rgba(1,223,165, .8);
    /*    -webkit-text-decoration-color: #01DFA5;
    text-decoration-color: #01DFA5;*/
}

#theSpan
{
    color: #1C1C1C;
}


input[type="text"] 
{
    background: transparent;
    border: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
{
/*  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */*/
}

input[type=number]::-webkit-textfield-decoration-container 
{
  border: 1px #ccc solid;
  background: #D8D8D8;
}


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button 
{
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button 
{ 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator 
{
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] 
{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 15px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus 
{
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


#media
{
    float: left;
}

a {text-decoration: none;} 

ul 
{
    list-style-type: none;
    margin-left: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    /*background: #648880;
    background: linear-gradient(to center, #f6f1d3, #648880, #293f50);*/
}

li 
{
    float: left;
}

li a, .dropbtn 
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato;
}


.tickets, li.tickets
{
    background-color: darkred;
    background b;
    padding: 0px;
}


li a:hover, .dropdown:hover .dropbtn 
{
    color: #1abc9c !important;
    /*background-color: black;*/
}

li.dropdown 
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content 
{
    display: block;
}


.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.ticketButton 
{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    outline: 2px solid white;
    outline-offset: 2px;
}

.ticketButton:hover 
{
    background-color: darkred;
    color: white;
}


#clockdiv
{
    font-family: Lato;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding-left: 39%;
    padding-bottom: 20px;
}

#clockdiv > div
{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

/*#clockdiv div > span
{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}*/

.smalltext
{
    padding-top: 5px;
    font-size: 16px;
}



.images 
{
    display: inline;
    margin: 15px;
    padding: 15px;
    vertical-align:middle;
    width: 150px;
    height: 200px;
    border: 5px solid darkorange;
    background-color: #00816A;
    
}


#content 
{
    display: block;
    margin: 0px;
    padding: 10px 0px 10px 100px;
    position: relative;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    white-space:nowrap;
}



.tooltip
{
    display: inline;
    position: inherit;
    font-weight:bold;
    cursor:pointer;
}

.tooltip:hover:after
{
    background: #333;
    /*background: rgba(0,0,0,.8);*/
    border-radius: 5px;
    bottom: 130px;
    color: #00BF96;
    content: attr(title);
    left: 10%;
    padding: 5px 15px 5px;
    position: absolute;
    z-index: 98;
    width: 150px;
    text-align: center;
}

.tooltip:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 100px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}



#restSpeakersButton
{
    padding-left: 35%;
}

#lorem_ipsum
{
    width: 60%;
    padding-left: 20%;
    word-wrap: break-word;
    font-family: Garamond;
    font-size: 20px;
}


#manifestoButton
{
    padding-left: 40%;
}


#previousEventsButton
{
    padding-left: 39%;
}


#programInfo
{
    
}



.inline-div 
{
    text-align: center;
    padding-left: 13%;
    display:inline-block;
    width: 15%;
    word-wrap: break-word;
}


#programButton
{
}

#mapInfo {
    /*float: left;*/
    /*padding-left: 0%;*/
    word-wrap: break-word;
    white-space: pre-wrap;
}

#map {
    display: block;
    margin: auto;
    height: 400px;
    width: 50%;
    float: right;
    /*margin-bottom: 40px;*/
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
 }

 #clearfix {
    overflow: auto;
 }


#Accomo
{
    font-size: 25px;
    color: darkorange;
}


.ticketButton 
{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    outline: 2px solid white;
    outline-offset: 2px;
}

.ticketButton:hover 
{
    background-color: darkred;
    color: white;
}



#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}





/* The Modal (background) */
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px)
{
    .modal-content 
    {
        width: 100%;
    }
}




.loginButton 
{
    font-size: 20px; 
    border: none; 
    background: none; 
    padding: 0; 
    color:white;
    font-family: Lato;
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin-left: 7%;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}